<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhengdao.zqb"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!--享玩游戏-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.NETWORK_PROVIDER"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <uses-sdk tools:overrideLibrary="com.youle.androidsdk"/>

    <application
        android:name=".application.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a976f37a40fa326dc000054"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}"/>
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="c4636b86"/>
        <meta-data
            android:name="designwidth"
            android:value="1080"/>
        <meta-data
            android:name="designdpi"
            android:value="480"/>
        <meta-data
            android:name="fontsize"
            android:value="1.0"/>
        <meta-data
            android:name="unit"
            android:value="px"/>

        <activity
            android:name=".view.activity.IntroduceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="m.sdk.com"
                    android:pathPrefix="/index.html"
                    android:scheme="tbopen"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.test.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.register.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.registeconfirm.RegisteConfirmActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.forgetpwd.ForgetpwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.snatchredpacket.SnatchRedPacketActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.activitycenter.ActivityCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.withdraw.WithDrawActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.favorite.FavoriteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.attention.AttentionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.browsinghistory.BrowsingHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.wanted.WantedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.mywallet.MyWalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.management.ManagementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.webview.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.personalinfo.PersonalInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.memberright.MemberRightActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.identitycertify.IdentityCertifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.accountsafe.AccountSafeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.relevanceaccount.RelevanceAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.advicefeedback.AdviceFeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.about.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.changeinfo.ChangeInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.changepsw.ChangePswActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.identityvertify.IdentityVertifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.changebindphone.ChangeBindPhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.changebindphonedetail.ChangeBindPhoneDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.versiondesc.VersionDescActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.pay.PayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.walletlist.WalletListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.rewardticket.RewardTicketActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.chargeaccount.ChargeAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.chargephone.ChargePhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.redpacketdetail.RedpacketDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.evaluate.EvaluateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.wanteddetail.WantedDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.report.ReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.publish.PublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".view.activity.keywords.KeyWordsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.publishedrewards.PublishedRewardsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.rewardscheck.RewardsCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.datastatistics.DataStatisticsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.kindofwanted.KindOfWantedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.wantednotpassdetail.WantedNotPassDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.homegoodsdetail.HomeGoodsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".view.dialogactivity.SelectedDailogActivty"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TipDialog"/>
        <activity
            android:name=".view.activity.bindalipay.BindAliPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.kindofwanteddetail.KindOfWantedDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.publishconfirm.PublishConfirmActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.newhandmission.NewHandMissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.welfareget.WelfareGetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.marketcommentdetail.MarketCommentDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.customservice.CustomServiceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.bindnewphone.BindNewPhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.StatementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.announcementdeatil.AnnouncementDeatilActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.PhoneContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.TextEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".view.activity.InfoEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".view.activity.questionclassify.QuestionClassifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.dailywechatshare.DailyWeChatShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.dailysign.DailySignActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.mywanted.MyWantedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.message.MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.zeroearn.ZeroEarnActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.calculator.CalculatorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.investinfoinput.InvestInfoInputActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.investinfodetailinput.InvestInfoDetailInputActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.rebaterecords.RebateRecordsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.advcenter.AdvCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.mybalance.MyBalanceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.licaidetail.LicaiDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.rebateservice.RebateServiceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.news.NewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.rankinglist.RankingListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.welfarewechatshare.WelfareWeChatShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.questionsurvery.QuestionSurveryActivty"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.advertisementlist.AdvertisementListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <receiver android:name=".receiver.NotificationReceiver"/>
        <receiver android:name=".receiver.NetWorkChangeReceiver"/>
        <receiver android:name=".receiver.NetworkConnectChangedReceiver"/>
        <receiver android:name=".receiver.AppUpdateNotificationReceiver"/>
        <receiver android:name=".receiver.AppActiveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.WatchDogService"/>
        <service android:name=".service.DownloadService"/>
        <service android:name=".service.DownloadApkService"/>
        <service android:name=".service.ApiApkDownloadService"/>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!-- alipay sdk end -->

        <!--uCrop-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--tinker配置-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>

        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true"
            tools:node="replace">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- QQ第三方登录相关 开始 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent101464836"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <!-- QQ第三方登录相关 结束 -->

        <!-- 微信三方登录分享相关  开始(多渠道打包时要创建各对应包名下的WXEntry类) -->
        <activity
            android:name="${packageName}.wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <!-- 微信三方登录分享相关  结束 -->

        <!-- 百度广告 开始 -->
        <!-- 如果targetSdkVersion设置值>=24，则强烈建议添加以下provider，否则会影响app变现效率 -->
        <provider
            android:name="com.baidu.mobads.openad.FileProvider"
            android:authorities="${packageName}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_paths"/>
        </provider>
        <!-- 非信息广告必须添加 -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 百度广告 结束 -->

        <!-- 360广告 开始 -->
        <activity
            android:name="com.ak.android.bridge.AKActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <provider
            android:name="com.ak.android.provider.AKProvider"
            android:authorities="${packageName}.akadsdkprovider"
            android:exported="false"
            android:grantUriPermissions="true"/>
        <!-- 360广告 结束 -->

        <!-- Tencent广告集成 start-->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <!-- Tencent广告集成 end-->

        <!-- 淘宝AppLInk集成 start-->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24939273"/>
        <meta-data
            android:name="com.alibaba.app.applink.backurl"
            android:value=".view.activity.main.MainActivity"/>
        <!-- 淘宝AppLInk集成 end-->

        <!-- 安智SDK集成 start-->
        <activity
            android:name="com.anzhi.sdk.ad.activity.InterstitialAzADActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.anzhi.sdk.ad.activity.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <meta-data
            android:name="ANZHI_AD_VERSIONS"
            android:value="3.2">
        </meta-data>
        <!-- 安智SDK集成 end-->

        <!-- 享玩SDK集成 start-->
        <activity
            android:name=".view.activity.xiangwan.XiangWanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <service android:name=".view.activity.xiangwan.DownLoadService"/>
        <receiver
            android:name=".view.activity.xiangwan.DownLoadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <!-- 享玩SDK集成 end-->

        <!-- 穿山甲SDK集成 start-->
        <provider
            android:name="com.bytedance.sdk.openadsdk.service.TTDownloadProvider"
            android:authorities="${applicationId}.union_adsdk_tt"
            android:exported="false">
        </provider>
        <service android:name=".toutiao.AppDownloadService"></service>
        <!-- 穿山甲SDK集成 end-->

    </application>
</manifest>